.fa{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    padding: 30px;
}
.material-icons{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    padding: 30px;
}